<form >
  <fieldset>
    <legend>Create user</legend>
      <label> Name:
        <input type="text" name="name" #inputName/>
      </label>
      <label > E-mail:
        <input type="email" name="email" #inputEmail/>
      </label>
      <br>
      <label > Active
        <input type="checkbox" value="off" (change)="onChange()"  #inputCheckbox/>
      </label>
      <select name="select" class="select m-3 pr-5" #inputSelect>
        <option value="value1">User</option>
        <option value="value2">Editor</option>
        <option value="value3">Admin</option>
      </select>
    <br>
      <button type="submit" (click)="createNewUser()"

      >Added</button>
      <button type="submit" (click)="onDeleteClick()">Delete</button>
  </fieldset>
</form>
<form class="mt-5">
  <fieldset>
    <legend>Create group</legend>
    <label>Name:
      <input type="text" name="groupName" #groupName/>
    </label>
    <br>
    <button (click)="onCreate()">Create</button>
    <button type="submit" (click)="onDelClick()">Delete</button>
  </fieldset>
</form>
