 <div class="user card-body border border-primary m-2" (click)="onClick()">
  <p class="card-title">name: <strong>{{ newUser.name}}</strong>  </p>
  <p class="card-text">e-mail: <strong>{{ newUser.email}}</strong></p>
  <p>active: <strong>{{ newUser.active }}</strong></p>
  <p>role: <strong>{{ getRole()}}</strong></p>
</div>
